.users {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  padding: 5rem;
}
.title {
  text-align: center;
  margin: 1rem 0;
}

.large {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .users {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .users {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
